# These are default configuration
# You can replace them by your system's actual configuration

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_DB=file_db

# Ollama Configuration
OLLAMA_URL=http://localhost:11434/api/generate

# Poppler Installation Path
POPPLER_PATH=C:/poppler/Library/bin